


{% extends 'lms/coursecontent.html' %}
{%load static%}

{% block lessoncontent1%}

    
    <div  id="defaultopening" style="margin: 5%;"> 
            
        <h3 style="text-align:center; margin-bottom: 2%;">Welcome to the course</h3>
        <h5 style="text-align:center; margin-bottom: 5%;"><strong> Consistent effort in a work or studies will eventually lead you to success.</strong></h5>
        <h5>Principles on which Consistency is based
            <ul>
                <li>
                    Patience: Patience is the key to consistency: we have to be patient and focus our efforts diligently in one direction in order to produce quality, lasting, tangible results.
                </li>
                <li>
                    Belief: Likewise, failing to believe in what you are doing will definitely kill your consistency in doing it. Or, to look at it another way, make you much more consistent at NOT doing it.Your consistency, or lack thereof, in what you do is a good indication of your true belief about it.
                </li>
                <li>
                    Value: The perceived value for  a particular thing, which results from the action you need to take should be taken into consideration. Everything that we do is generally motivated by one of two things: fear and desire.
                </li>    
            </ul>
        </h5>
        
        <h5>Simple tips to develop consistency and achieve success
            <ul>
                <li>
                    Reminders
                </li>
                <li>
                    Reward yourself when you get even a small task done
                </li>
                <li>
                    Mistakes means correcting themEffectively manage your time and minimize distractions
                </li>
                <li>
                    Use motivational tools to keep going
                </li>
                <li>
                    Give yourself time to see changes
                </li>
            </ul>
        </h5>
    </div>  
{%endblock%}   