


{% extends 'lms/navbar.html' %}
{%load static%}
    
{% block profilecontent%}
<style>
.responsive {
    width: 100%;
    height: auto;
}
</style>


<div class="container col-12 my-5 br-2 rounded">
            
    <div class="row"> 
        
        <div class="col-4">
            <img src="static/lms/project_contactus.jpg"class="responsive" alt="Girl in a jacket" width="250" height="250">
            
        </div>

        <div class="col-6" style="margin-top:3%;">
            <h5 style="background-color:#A7C5EB;width: 100%; padding: 10px;margin: 10px;"><strong>Help</strong></h5>
            <h5 style="background-color: #F1F1F1;width: 100%; padding: 10px;margin: 10px;"> for request Tutor click thz link</h5>
        </div>
    </div>
    <br>

    <div class="row"> 
        
        <div class="col-4">
            <img src="static/lms/tutoringimage.png" class="responsive" alt="Girl in a jacket" width="250" height="250">
            
        </div>

        <div class="col-6"style="margin-top:3%;">
            <h5 style="background-color: #A7C5EB;width: 100%; padding: 10px;margin: 10px;"><strong> For further issues contact us at</strong></h5>
            <h5 style="background-color: #F1F1F1;width: 100%; padding: 10px;margin: 10px;"> lms.support@lms.net</h5>
        </div>
    </div>

</div>

{%endblock%}